$main-text-color: #757575;
$second-text-color: #212121;
$footer-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$contrast-color: #ffffff;
$dark-bgc: #2f303a;
$hero-button-accent: #188ce8;
$svg-fill-color: #afb1b8;
$bgc-footer-link-color: rgba(255, 255, 255, 0.1);
$bgc-above-img: rgba(47, 48, 58, 0.8);
$bgs-above-img-blue: rgba(33, 150, 243, 0.9);
$bgc-backdrop: rgba(0, 0, 0, 0.2);
